# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.env

# OS
Thumbs.db

# Project
.fseventsd/
.metadata
*.iml
